.navbar {
  position: fixed;
  bottom: 1rem;
  background-color: #ffffff0a;
  z-index: 5;
  margin: auto;
  left: 0;
  right: 0;
  width: 40vw;
  height: 3rem;
  backdrop-filter: blur(10px);
  border-radius: 15px;
}
